@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700,800&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\ea3d";
}

._icon-facebook:before {
  content: "\ea90";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #000000;
  color: #fff;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 113.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.8125rem;
  height: 5.5rem;
  width: 25.125rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff)) right top/56% 1.5px no-repeat, -webkit-gradient(linear, left top, right top, from(#fff), to(#fff)) left bottom/100% 1.5px no-repeat;
  background: -o-linear-gradient(left, #fff 0%, #fff 100%) right top/56% 1.5px no-repeat, -o-linear-gradient(left, #fff 0%, #fff 100%) left bottom/100% 1.5px no-repeat;
  background: linear-gradient(to right, #fff 0%, #fff 100%) right top/56% 1.5px no-repeat, linear-gradient(to right, #fff 0%, #fff 100%) left bottom/100% 1.5px no-repeat;
}

.button span {
  height: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button span img {
  max-width: 100%;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  height: 66%;
  width: 1.5px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.button::before {
  bottom: 0;
  left: 0;
  border: 1.5px solid #fff;
  border-right: none;
}

.button::after {
  top: 0;
  right: 0;
  border: 1.5px solid #fff;
  border-left: none;
}

.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 700;
  line-height: 1.2133333333;
  text-transform: uppercase;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__container {
  min-height: 9.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.875rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2222222222;
}

.header__language {
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__language::before {
  content: "";
  position: absolute;
  width: 0%;
  right: 0;
  bottom: -0.125rem;
  height: 0.0625rem;
  background-color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header._header-scroll {
  background-color: rgba(0, 0, 0, 0.7);
}

.header._header-scroll .header__container {
  min-height: 5.625rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3.75rem;
     -moz-column-gap: 3.75rem;
          column-gap: 3.75rem;
  row-gap: 0.625rem;
}

.menu__link {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.2222222222;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__link::before {
  content: "";
  position: absolute;
  width: 0%;
  right: 0;
  bottom: -0.125rem;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.no-webp .main-block{
  background: url("../img/main-block/decor-main.png") top center/contain no-repeat; }

.main-block__container {
  position: relative;
}

.main-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-block__text-block {
  margin-top: 18rem;
  max-width: 55.3125rem;
  font-weight: 700;
  line-height: 1.2133333333;
}

.main-block__text-block:not(:last-child) {
  margin-bottom: 7.8125rem;
}

.main-block__decor {
  position: absolute;
  width: 80.5625rem;
  height: 80.5625rem;
  top: 0;
  right: 6.25rem;
  z-index: -1;
  opacity: 0.7;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.services-main-block {
  min-height: 5.125rem;
  border-top: 1px solid rgba(255, 255, 255, 0.52);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.services-main-block:not(:last-child) {
  margin-bottom: 9.375rem;
}

.services-main-block__item {
  line-height: 1.2;
  text-transform: uppercase;
  position: relative;
}

.services-main-block__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(100% + 8.3125rem);
  height: 100%;
  width: 0.0625rem;
  background-color: rgba(255, 255, 255, 0.43);
}

.bottom-main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-main-block__text {
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase;
  max-width: 16.5625rem;
}

.bottom-main-block__button {
  position: relative;
  z-index: 2;
}

.our-services {
  position: relative;
}

.our-services__container {
  position: relative;
}

.our-services__body {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.our-services__title {
  max-width: 37.5rem;
}

.our-services__title:not(:last-child) {
  margin-bottom: 15.625rem;
}

.our-services__button {
  position: relative;
  z-index: 2;
}

.our-services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.25rem;
  margin-left: 5rem;
}

.our-services__item {
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  position: relative;
}

.our-services__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.0625rem;
  left: 0;
  bottom: -2.125rem;
  background-color: rgba(255, 255, 255, 0.38);
}

.our-services__decor {
  position: absolute;
  top: -50rem;
  left: 0;
}

.cases {
  position: relative;
  z-index: 2;
}

.cases__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cases__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cases__top:not(:last-child) {
  margin-bottom: 6.25rem;
}

.cases__slider {
  margin-left: 21.25rem;
}

.slider-cases__body {
  overflow: visible !important;
}

.slide-cases__number {
  line-height: 1.2;
  text-transform: uppercase;
}

.slide-cases__number:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.slide-cases__body {
  padding: 3.125rem 2.1875rem 3.125rem 3.125rem;
  background: #0d0d0d;
  border: 0.1px solid #ffffff;
}

.slide-cases__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-cases__top:not(:last-child) {
  margin-bottom: 4.6875rem;
}

.slide-cases__title {
  line-height: 1.2;
  font-weight: 600;
  max-width: 13.75rem;
}

.slide-cases__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4rem;
          flex: 0 0 4rem;
  height: 4rem;
  border-radius: 0.6875rem;
  overflow: hidden;
}

.slide-cases__image img {
  max-width: 100%;
}

.slide-cases__line {
  width: 100%;
  height: 0.0625rem;
  background-color: rgba(255, 255, 255, 0.16);
}

.slide-cases__line:not(:last-child) {
  margin-bottom: 4.6875rem;
}

.slide-cases__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.0625rem;
}

.slide-cases__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.25;
}

.slide-cases__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-weight: 500;
}

.slide-cases__value {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-weight: 300;
}

.cooperation {
  position: relative;
}

.cooperation__body {
  position: relative;
  z-index: 2;
}

.cooperation__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cooperation__top:not(:last-child) {
  margin-bottom: 8.125rem;
}

.cooperation__title {
  max-width: 46.875rem;
}

.cooperation__text {
  line-height: 1.2;
  font-weight: 300;
  max-width: 50rem;
  text-align: justify;
}

.cooperation__items {
  margin-left: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7.1875rem;
}

.cooperation__item {
  position: relative;
}

.cooperation__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.0625rem;
  left: 0;
  bottom: -3.75rem;
  background-color: rgba(255, 255, 255, 0.29);
}

.cooperation__decor {
  position: absolute;
  top: 8.75rem;
  left: 0;
}

.item-cooperation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-cooperation__number {
  line-height: 1.025;
  font-weight: 700;
  text-transform: uppercase;
}

.item-cooperation__label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1;
  font-weight: 700;
  max-width: 35.625rem;
  text-transform: uppercase;
}

.item-cooperation__text {
  line-height: 1;
  max-width: 35rem;
}

.about {
  position: relative;
  z-index: 2;
}

.about__container {
  position: relative;
}

.about__text-block {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.about__title:not(:last-child) {
  margin-bottom: 5.25rem;
}

.about__text {
  line-height: 1;
  max-width: 50.625rem;
  text-align: justify;
}

.about__decor {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.slide-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-about__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.slide-about__info {
  line-height: 0.9047619048;
  font-weight: 800;
  color: #d00064;
}

.slide-about__info:not(:last-child) {
  margin-bottom: 3.75rem;
}

.slide-about__text {
  max-width: 50.625rem;
  line-height: 1;
  text-align: justify;
}

.slide-about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40.625rem;
          flex: 0 1 40.625rem;
  padding-bottom: 37.5428571429%;
}

.partners {
  position: relative;
  z-index: 2;
}

.partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 9rem;
          flex: 0 1 9rem;
}

.partners__item img {
  max-width: 100%;
}

.news {
  position: relative;
}

.news__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
}

.news__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__top:not(:last-child) {
  margin-bottom: 8.75rem;
}

.news__text {
  line-height: 1;
  text-align: justify;
  max-width: 70%;
}

.news__decor {
  position: absolute;
  top: -65%;
  right: 0;
}

.slide-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.125rem;
}

.slide-news:nth-child(2n) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.slide-news:nth-child(2n) .slide-news__text {
  text-align: left;
}

.slide-news__text {
  line-height: 1;
  font-weight: 500;
  text-align: right;
}

.slide-news__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.8125rem;
          flex: 0 0 23.8125rem;
  padding-bottom: 77.3622047244%;
}

.contacts {
  position: relative;
}

.contacts__title {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  white-space: nowrap;
  line-height: 0.8762886598;
  font-weight: 800;
}

.contacts__action {
  position: relative;
  left: 50%;
  top: 5.3125rem;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  height: 9.625rem;
  width: 39.375rem;
}

.contacts__button {
  position: absolute;
  top: 0;
  left: 0;
  height: 5.375rem;
  padding: 0rem 1.5625rem;
  line-height: 1;
  font-weight: 700;
  border-radius: 2.9375rem;
  -webkit-transform: rotate(-4.77deg);
      -ms-transform: rotate(-4.77deg);
          transform: rotate(-4.77deg);
  background-color: rgba(255, 255, 255, 0.06);
  border: 0.0625rem solid #ffffff;
  -webkit-backdrop-filter: blur(29.5px);
          backdrop-filter: blur(29.5px);
  text-decoration: underline;
}

.contacts__text {
  position: absolute;
  bottom: 30%;
  left: 65%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transform: rotate(-6.48deg);
      -ms-transform: rotate(-6.48deg);
          transform: rotate(-6.48deg);
}

.contacts__icon {
  position: absolute;
  bottom: -2.5rem;
  right: -2.5rem;
}

.footer {
  position: relative;
  z-index: 30;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6.875rem;
  min-height: 10rem;
  line-height: 1.2727272727;
  font-weight: 600;
}

.footer__facebook {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.footer__facebook::before {
  font-size: 1.375rem;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 113.125em) {
  .button {
    font-size: 1.5625rem;
  }

  .title {
    font-size: 4.6875rem;
  }

  .main-block {
    margin-bottom: 6.25rem;
  }

  .main-block__text-block {
    font-size: 4.6875rem;
  }

  .services-main-block {
    gap: 16.625rem;
  }

  .services-main-block__item {
    font-size: 0.9375rem;
  }

  .bottom-main-block__text {
    font-size: 1.25rem;
  }

  .our-services {
    padding-top: 11.25rem;
  }

  .our-services {
    padding-bottom: 10rem;
  }

  .our-services__item {
    font-size: 1.5625rem;
  }

  .cases {
    padding-top: 9.375rem;
  }

  .cases {
    padding-bottom: 9.375rem;
  }

  .slide-cases__number {
    font-size: 0.9375rem;
  }

  .slide-cases__title {
    font-size: 1.25rem;
  }

  .slide-cases__item {
    font-size: 0.75rem;
  }

  .cooperation {
    padding-top: 9.375rem;
  }

  .cooperation {
    padding-bottom: 9.375rem;
  }

  .cooperation__text {
    font-size: 1.5625rem;
  }

  .item-cooperation__number {
    font-size: 2.5rem;
  }

  .item-cooperation__label {
    font-size: 2.1875rem;
  }

  .item-cooperation__text {
    font-size: 1.5625rem;
  }

  .about {
    padding-top: 9.375rem;
  }

  .about {
    padding-bottom: 9.375rem;
  }

  .about__text {
    font-size: 1.625rem;
  }

  .slide-about__info {
    font-size: 2.625rem;
  }

  .slide-about__text {
    font-size: 1.375rem;
  }

  .partners {
    padding-top: 3.125rem;
  }

  .partners {
    padding-bottom: 9.375rem;
  }

  .news {
    padding-top: 9.375rem;
  }

  .news {
    padding-bottom: 9.375rem;
  }

  .news__text {
    font-size: 1.375rem;
  }

  .slide-news__text {
    font-size: 1.6875rem;
  }

  .contacts {
    padding-bottom: 12.5rem;
  }

  .contacts__title {
    font-size: 6.0625rem;
  }

  .contacts__button {
    font-size: 1.6875rem;
  }

  .contacts__text {
    font-size: 1.3125rem;
  }

  .footer__container {
    font-size: 1.375rem;
  }
}

@media (max-width: 20em) {
  .button {
    font-size: 1.5625rem;
  }

  .title {
    font-size: 2.1875rem;
  }

  .main-block {
    margin-bottom: 6.25rem;
  }

  .main-block__text-block {
    font-size: 3.125rem;
  }

  .services-main-block {
    gap: 3.125rem;
  }

  .services-main-block__item {
    font-size: 0.9375rem;
  }

  .bottom-main-block__text {
    font-size: 1.25rem;
  }

  .our-services {
    padding-top: 2.5rem;
  }

  .our-services {
    padding-bottom: 2.5rem;
  }

  .our-services__item {
    font-size: 1.5625rem;
  }

  .cases {
    padding-top: 2.5rem;
  }

  .cases {
    padding-bottom: 2.5rem;
  }

  .slide-cases__number {
    font-size: 0.9375rem;
  }

  .slide-cases__title {
    font-size: 1.125rem;
  }

  .slide-cases__item {
    font-size: 0.75rem;
  }

  .cooperation {
    padding-top: 2.5rem;
  }

  .cooperation {
    padding-bottom: 2.5rem;
  }

  .cooperation__text {
    font-size: 1.25rem;
  }

  .item-cooperation__number {
    font-size: 2.5rem;
  }

  .item-cooperation__label {
    font-size: 2.1875rem;
  }

  .item-cooperation__text {
    font-size: 1.5625rem;
  }

  .about {
    padding-top: 2.5rem;
  }

  .about {
    padding-bottom: 2.5rem;
  }

  .about__text {
    font-size: 0.875rem;
  }

  .slide-about__info {
    font-size: 1.875rem;
  }

  .slide-about__text {
    font-size: 0.8125rem;
  }

  .partners {
    padding-top: 2.5rem;
  }

  .partners {
    padding-bottom: 2.5rem;
  }

  .news {
    padding-top: 2.5rem;
  }

  .news {
    padding-bottom: 2.5rem;
  }

  .news__text {
    font-size: 0.8125rem;
  }

  .slide-news__text {
    font-size: 0.875rem;
  }

  .contacts {
    padding-bottom: 2.5rem;
  }

  .contacts__title {
    font-size: 2.8125rem;
  }

  .contacts__button {
    font-size: 0.9375rem;
  }

  .contacts__text {
    font-size: 0.8125rem;
  }

  .footer__container {
    font-size: 0.8125rem;
  }
}

@media (min-width: 20em) and (max-width: 113.125em) {
@supports (font-size: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem )) {
    .button {
      font-size: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem )) {
    .button {
      font-size: calc(1.5625rem + 0 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.6505872483rem  +  2.6845637584vw , 4.6875rem )) {
    .title {
      font-size: clamp( 2.1875rem , 1.6505872483rem  +  2.6845637584vw , 4.6875rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.6505872483rem  +  2.6845637584vw , 4.6875rem )) {
    .title {
      font-size: calc(2.1875rem + 2.5 * (100vw - 20rem) / 93.125);
    }
}

@supports (margin-bottom: clamp( 6.25rem , 6.25rem  +  0vw , 6.25rem )) {
    .main-block {
      margin-bottom: clamp( 6.25rem , 6.25rem  +  0vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 6.25rem , 6.25rem  +  0vw , 6.25rem )) {
    .main-block {
      margin-bottom: calc(6.25rem + 0 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 3.125rem , 2.7894295302rem  +  1.677852349vw , 4.6875rem )) {
    .main-block__text-block {
      font-size: clamp( 3.125rem , 2.7894295302rem  +  1.677852349vw , 4.6875rem );
    }
}

@supports not (font-size: clamp( 3.125rem , 2.7894295302rem  +  1.677852349vw , 4.6875rem )) {
    .main-block__text-block {
      font-size: calc(3.125rem + 1.5625 * (100vw - 20rem) / 93.125);
    }
}

@supports (gap: clamp( 3.125rem , 0.2256711409rem  +  14.4966442953vw , 16.625rem )) {
    .services-main-block {
      gap: clamp( 3.125rem , 0.2256711409rem  +  14.4966442953vw , 16.625rem );
    }
}

@supports not (gap: clamp( 3.125rem , 0.2256711409rem  +  14.4966442953vw , 16.625rem )) {
    .services-main-block {
      gap: calc(3.125rem + 13.5 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem )) {
    .services-main-block__item {
      font-size: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem )) {
    .services-main-block__item {
      font-size: calc(0.9375rem + 0 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .bottom-main-block__text {
      font-size: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .bottom-main-block__text {
      font-size: calc(1.25rem + 0 * (100vw - 20rem) / 93.125);
    }
}

@supports (padding-top: clamp( 2.5rem , 0.6208053691rem  +  9.3959731544vw , 11.25rem )) {
    .our-services {
      padding-top: clamp( 2.5rem , 0.6208053691rem  +  9.3959731544vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.6208053691rem  +  9.3959731544vw , 11.25rem )) {
    .our-services {
      padding-top: calc(2.5rem + 8.75 * (100vw - 20rem) / 93.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.889261745rem  +  8.0536912752vw , 10rem )) {
    .our-services {
      padding-bottom: clamp( 2.5rem , 0.889261745rem  +  8.0536912752vw , 10rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.889261745rem  +  8.0536912752vw , 10rem )) {
    .our-services {
      padding-bottom: calc(2.5rem + 7.5 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem )) {
    .our-services__item {
      font-size: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem )) {
    .our-services__item {
      font-size: calc(1.5625rem + 0 * (100vw - 20rem) / 93.125);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem )) {
    .cases {
      padding-top: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem )) {
    .cases {
      padding-top: calc(2.5rem + 6.875 * (100vw - 20rem) / 93.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem )) {
    .cases {
      padding-bottom: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem )) {
    .cases {
      padding-bottom: calc(2.5rem + 6.875 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem )) {
    .slide-cases__number {
      font-size: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem )) {
    .slide-cases__number {
      font-size: calc(0.9375rem + 0 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0981543624rem  +  0.1342281879vw , 1.25rem )) {
    .slide-cases__title {
      font-size: clamp( 1.125rem , 1.0981543624rem  +  0.1342281879vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0981543624rem  +  0.1342281879vw , 1.25rem )) {
    .slide-cases__title {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 0.75rem , 0.75rem  +  0vw , 0.75rem )) {
    .slide-cases__item {
      font-size: clamp( 0.75rem , 0.75rem  +  0vw , 0.75rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.75rem  +  0vw , 0.75rem )) {
    .slide-cases__item {
      font-size: calc(0.75rem + 0 * (100vw - 20rem) / 93.125);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem )) {
    .cooperation {
      padding-top: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem )) {
    .cooperation {
      padding-top: calc(2.5rem + 6.875 * (100vw - 20rem) / 93.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem )) {
    .cooperation {
      padding-bottom: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem )) {
    .cooperation {
      padding-bottom: calc(2.5rem + 6.875 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 1.25rem , 1.182885906rem  +  0.3355704698vw , 1.5625rem )) {
    .cooperation__text {
      font-size: clamp( 1.25rem , 1.182885906rem  +  0.3355704698vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.182885906rem  +  0.3355704698vw , 1.5625rem )) {
    .cooperation__text {
      font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 2.5rem , 2.5rem  +  0vw , 2.5rem )) {
    .item-cooperation__number {
      font-size: clamp( 2.5rem , 2.5rem  +  0vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 2.5rem  +  0vw , 2.5rem )) {
    .item-cooperation__number {
      font-size: calc(2.5rem + 0 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 2.1875rem , 2.1875rem  +  0vw , 2.1875rem )) {
    .item-cooperation__label {
      font-size: clamp( 2.1875rem , 2.1875rem  +  0vw , 2.1875rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 2.1875rem  +  0vw , 2.1875rem )) {
    .item-cooperation__label {
      font-size: calc(2.1875rem + 0 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem )) {
    .item-cooperation__text {
      font-size: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem )) {
    .item-cooperation__text {
      font-size: calc(1.5625rem + 0 * (100vw - 20rem) / 93.125);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem )) {
    .about {
      padding-top: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem )) {
    .about {
      padding-top: calc(2.5rem + 6.875 * (100vw - 20rem) / 93.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem )) {
    .about {
      padding-bottom: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem )) {
    .about {
      padding-bottom: calc(2.5rem + 6.875 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7139261745rem  +  0.8053691275vw , 1.625rem )) {
    .about__text {
      font-size: clamp( 0.875rem , 0.7139261745rem  +  0.8053691275vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7139261745rem  +  0.8053691275vw , 1.625rem )) {
    .about__text {
      font-size: calc(0.875rem + 0.75 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 1.875rem , 1.7139261745rem  +  0.8053691275vw , 2.625rem )) {
    .slide-about__info {
      font-size: clamp( 1.875rem , 1.7139261745rem  +  0.8053691275vw , 2.625rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.7139261745rem  +  0.8053691275vw , 2.625rem )) {
    .slide-about__info {
      font-size: calc(1.875rem + 0.75 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.6916946309rem  +  0.6040268456vw , 1.375rem )) {
    .slide-about__text {
      font-size: clamp( 0.8125rem , 0.6916946309rem  +  0.6040268456vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.6916946309rem  +  0.6040268456vw , 1.375rem )) {
    .slide-about__text {
      font-size: calc(0.8125rem + 0.5625 * (100vw - 20rem) / 93.125);
    }
}

@supports (padding-top: clamp( 2.5rem , 2.3657718121rem  +  0.6711409396vw , 3.125rem )) {
    .partners {
      padding-top: clamp( 2.5rem , 2.3657718121rem  +  0.6711409396vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 2.3657718121rem  +  0.6711409396vw , 3.125rem )) {
    .partners {
      padding-top: calc(2.5rem + 0.625 * (100vw - 20rem) / 93.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem )) {
    .partners {
      padding-bottom: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem )) {
    .partners {
      padding-bottom: calc(2.5rem + 6.875 * (100vw - 20rem) / 93.125);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem )) {
    .news {
      padding-top: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem )) {
    .news {
      padding-top: calc(2.5rem + 6.875 * (100vw - 20rem) / 93.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem )) {
    .news {
      padding-bottom: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.0234899329rem  +  7.3825503356vw , 9.375rem )) {
    .news {
      padding-bottom: calc(2.5rem + 6.875 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.6916946309rem  +  0.6040268456vw , 1.375rem )) {
    .news__text {
      font-size: clamp( 0.8125rem , 0.6916946309rem  +  0.6040268456vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.6916946309rem  +  0.6040268456vw , 1.375rem )) {
    .news__text {
      font-size: calc(0.8125rem + 0.5625 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7005033557rem  +  0.8724832215vw , 1.6875rem )) {
    .slide-news__text {
      font-size: clamp( 0.875rem , 0.7005033557rem  +  0.8724832215vw , 1.6875rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7005033557rem  +  0.8724832215vw , 1.6875rem )) {
    .slide-news__text {
      font-size: calc(0.875rem + 0.8125 * (100vw - 20rem) / 93.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.3523489933rem  +  10.7382550336vw , 12.5rem )) {
    .contacts {
      padding-bottom: clamp( 2.5rem , 0.3523489933rem  +  10.7382550336vw , 12.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.3523489933rem  +  10.7382550336vw , 12.5rem )) {
    .contacts {
      padding-bottom: calc(2.5rem + 10 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 2.8125rem , 2.1145134228rem  +  3.4899328859vw , 6.0625rem )) {
    .contacts__title {
      font-size: clamp( 2.8125rem , 2.1145134228rem  +  3.4899328859vw , 6.0625rem );
    }
}

@supports not (font-size: clamp( 2.8125rem , 2.1145134228rem  +  3.4899328859vw , 6.0625rem )) {
    .contacts__title {
      font-size: calc(2.8125rem + 3.25 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.7764261745rem  +  0.8053691275vw , 1.6875rem )) {
    .contacts__button {
      font-size: clamp( 0.9375rem , 0.7764261745rem  +  0.8053691275vw , 1.6875rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.7764261745rem  +  0.8053691275vw , 1.6875rem )) {
    .contacts__button {
      font-size: calc(0.9375rem + 0.75 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.7051174497rem  +  0.5369127517vw , 1.3125rem )) {
    .contacts__text {
      font-size: clamp( 0.8125rem , 0.7051174497rem  +  0.5369127517vw , 1.3125rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.7051174497rem  +  0.5369127517vw , 1.3125rem )) {
    .contacts__text {
      font-size: calc(0.8125rem + 0.5 * (100vw - 20rem) / 93.125);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.6916946309rem  +  0.6040268456vw , 1.375rem )) {
    .footer__container {
      font-size: clamp( 0.8125rem , 0.6916946309rem  +  0.6040268456vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.6916946309rem  +  0.6040268456vw , 1.375rem )) {
    .footer__container {
      font-size: calc(0.8125rem + 0.5625 * (100vw - 20rem) / 93.125);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff)) right top/100% 1.5px no-repeat, -webkit-gradient(linear, left top, right top, from(#fff), to(#fff)) left bottom/100% 1.5px no-repeat;
    background: -o-linear-gradient(left, #fff 0%, #fff 100%) right top/100% 1.5px no-repeat, -o-linear-gradient(left, #fff 0%, #fff 100%) left bottom/100% 1.5px no-repeat;
    background: linear-gradient(to right, #fff 0%, #fff 100%) right top/100% 1.5px no-repeat, linear-gradient(to right, #fff 0%, #fff 100%) left bottom/100% 1.5px no-repeat;
  }

  .button:hover::before,
  .button:hover::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1.5px;
  }

  .header__language:hover::before {
    width: 100%;
    left: 0;
  }

  .menu__link:hover::before {
    width: 100%;
    left: 0;
  }
}

.webp .main-block{ background: url(../img/main-block/decor-main.webp) top center/contain no-repeat; }